<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
	<div class="container contact-container">
		<h1 class="contact-header">Contact Us</h1>
		<hr>
		<form>
			<fieldset class="form-group">
				<%= label_tag :name %>
				<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
			</fieldset>
			<fieldset class="form-group">
				<%= label_tag :email, "Email" %>
				<%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
			</fieldset>
			<fieldset class="form-group">
				<label for="type-of-inquiry">Type of Inquiry</label>
				<select class="form-control" id="type-of-inquiry">
					<option>General</option>
					<option>Your Order</option>
					<option>Sales</option>
					<option>Troubleshooting</option>
					<option>Product Description</option>
				</select>
			</fieldset>
			<fieldset>
				<%= label_tag :message, "What can we help you with?" %>
				<%= text_area_tag :message, nil, class: "form-control", rows: "6" %>
			</fieldset>
			<br>
			<%= submit_tag "Submit", class: "btn"%>
		</form>

		<hr>
	</div>
<% end %>